body{
    background-color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
}
h1 {

    text-align: center;
}
.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputtext {
    width: 450px;
}
.container {
    text-align: center;
    font-size: 25px;
    max-width: 700px;
    margin: 0 auto;
}

input, textarea, select {
    font-size: inherit;
}


.btn {
    display: block;
    height: 40px;
    width: 150px;
    margin: 0 auto;
    background-color: rgb(88, 203, 231);
    border: 1px solid rgb(88, 203, 231);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    transition: background-color 0.5s;
    background-color: #a87432;
    border-color: #a87432;
}